<h2>{{title}}</h2>
<h3>Assignment list : </h3>
<p>Number of documents : {{totalDocs}}</p>
<p>Number of pages : {{totalPages}}</p>
<p>Current page : {{page}}</p>
<p>Number of documents per page : {{limit}}</p>
<div>
    <button mat-raised-button [disabled]="page === 1">FIRST PAGE</button>
    &nbsp;
    <button mat-raised-button [disabled]="!hasPrevPage">PREVIOUS PAGE</button>
    &nbsp;
    <button mat-raised-button [disabled]="!hasNextPage">NEXT PAGE</button>
    &nbsp;
    <button mat-raised-button [disabled]="page === totalPages">LAST PAGE</button>
</div>

<mat-list>
   
    @for(a of assignments; track a._id) {
        <nav>
            <a routerLink="/assignments/{{a._id}}">
                <h3 mat-sub-header>{{a.dueDate | date:'d/M/YY'}}</h3> 
                <p>{{a._id}}</p>
                <div>
                    @if(a.submitted) {
                        <mat-list-item appRendu>
                            Devoir initulé {{a.name}} a été rendu.
                        </mat-list-item>
                    } @else {
                        <mat-list-item appNonRendu>
                            le devoir {{a.name}} n'a pas été rendu!
                        </mat-list-item>
                    }
                </div>
                <mat-divider></mat-divider>
            </a>
        </nav>
    }
</mat-list>
