<h3>Ajout de devoir</h3>
<form ngForm #addAssignmentForm 
      (submit)="onSubmit($event); addAssignmentForm.reset()" 
      class="form"
>
    <mat-form-field>
        <input matInput 
               placeholder="Assignment name" 
               [(ngModel)]="assignmentName" 
               name="assignmentName" 
               required
        >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Due date</mat-label>
        <input matInput [matDatepicker]="picker"
               [(ngModel)]="dueDate" 
               name="dueDate"
               required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary">
        Add assignment
    </button>
</form>

